/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Commons */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}


/* Top Players Style */
.top_players{
    margin-bottom: 30px;
}
.section_title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player_name{
    margin-left: 16px;
    font-size: 18px;

}

   /*=================
    Top Blogs Styles Start
    ==================
    */

    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 26px;
    }
    .section_title_2{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 30px;
}
    .blog{
        display: flex;
    }

    .blog .thumbnail img{
        width: 177px;
        height: 117px;
    }

    .blog-info{
        margin-left: 16px;
    }
    .blog-title{
        font-size: 20px;
    }
    .blog-author{
        font-size: 20px;
    }
    .blog-author a{
        font-size: 20px;
        text-decoration: none;
        color: #562EFF;
    }

  /*=================
    Courses Styles
    ==================
    */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course{
    Width : 252.42px;
    Height : 269.79px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    padding: 11px 13px 17px;
    border-radius: 15px;
}
    .course .banner img{
        width: 224px;
        height: 104px;
    }
    .course-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fa-star{
         color: #FFC014;
         font-size: 12px;
    }
    .nofill{
        color: #AEAEAE;
    }
    .course-duration{
        background-color: #FFE4E8;
        border-radius: 14.6913px;
        color: #FF4A60;
        font-weight: 600;
        font-size: 14.6913px;
        padding: 5px;
    }


    /*=================
    Media Quaries
    ==================
    */

    /* Mobile Device */
    @media only screen and (max-width:688px) {
        .container{
            width: 100%;
        }
        .players{
            grid-template-columns: repeat(2,1fr);
        }
        .blogs, .courses{
            grid-template-columns: repeat(1,1fr);
        }
        .player, .blogs{
            flex-direction: column;
        }
        .course{
         flex-direction: column;
         margin-bottom: 5px;
        }
    }


    @media only screen and (min-width:688px) and (max-width:992px) {
         .container{
            width: 100%;
        }
         .players, .courses{
            grid-template-columns: repeat(2,1fr);
        }
        .course{
            margin-bottom: 10px;
        }
    }